@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

.gugi {
  font-family: "Gugi", sans-serif;
}

.playwrite {
  font-family: "Playwrite NZ Basic", cursive;
}